<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/appjs.js"></script>
    <script src="hex.js"></script>
</head>
<body>


    <canvas id="HexCanvas" width="800" height="640"></canvas>
  
    <script>
        var socket = io();
        socket.on('endGame',function(data){
            //TO DO jakie przyciski na dole strony i moze komunikat :)
            console.log('Koniec gry');
        })
        
        var username = "<%= username %>"
        var hexagonGrid = new HexagonGrid("HexCanvas",username, socket, 38);
        hexagonGrid.drawHexGrid(true);

        socket.on('response', function( data ){
            hexagonGrid.drawHex(data.hex, data.color, "", false);
            console.log(data.hex.coordinates.x, data.hex.coordinates.y);
        })

    </script>
    
</body>
</html>

