<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zapraszam do zabawy ;)</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="hex.js"></script>
</head>
<style>
    myDiv{
        width : 100%;
        text-align: center;
        float: none;
        justify-content: center;
    }
    button{
            margin : 1px 1px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: darkslategray;
            border: 2px solid black;
            border-radius: 10px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            clear : both;
            margin-left: 2,5%;
            width: 95%;
    }
    button:hover{
        background-color: darkslategray;
        color: white;
    }
    #header{
        width : 100%;
        position: fixed; 
        top : 0px;
        margin-bottom: 4px;
        background-color: seagreen;
        border : solid 1px black;
        height : 60px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color : whitesmoke;
        font-size: 15px;
        font-weight: bold;        
    }
    #info{
        margin-bottom: 4px;
        background-color: blue;
        border : solid 1px black;
        height : 30px;
        line-height: 30px;
    }
    #HexCanvas{
      justify-content: center;  
      margin-left : 20%;
      margin-top: 80px;
    }
    #buttons{
        text-align: center;
    }
    
</style>
<body>
    <div id = 'header'>
            Mysterious Woodland Yavalath<br>by Jakub Schreiber and Stanisław Wilczyński
            <div id = 'info'> </div>
    </div>
    
    <myDiv>
        <canvas id="HexCanvas" width = '800' height='640'></canvas>
    </myDiv>

    <div id = 'buttons'>
        <button id = "reset" onclick="resetGame()">Jeszcze raz</button>
        <button id = "quit" onclick="goToRooms()">Opuść grę</button>
    </div>
  
    <script>
        var info = document.getElementById('info');
        var username = "<%= username %>";
        var id = "<%= id %>";
        var socket = io();
        socket.emit('MyConnection', {id : id, username : username});
        socket.on('endGame',function(data){
            if(data.winner == username){
                info.innerHTML = "Wygrałeś :)";
            } else{
               info.innerHTML = "Przegrałeś :("; 
            }
        });
        socket.on('draw', function(data) {
            info.innerHTML = "Remis";
        });
        socket.on('user disconnected', function(){
            document.getElementById('HexCanvas').style.display = "none";
            document.getElementById('reset').style.display = "none";
            document.getElementById('buttons').style.marginTop = '100px';
            info.innerHTML = "Twój przeciwnik wyszedł z gry"; 
        });
        socket.on('reset',function(data){
            info.innerHTML = 'Teraz kolej gracza ' + data.user; 
            hexagonGrid.drawHexGrid(false);
        });
        
        socket.on('response', function( data ){
            if(data.isValid){
                hexagonGrid.drawHex(data.hex, data.color, "", false);
                info.innerHTML = 'Teraz kolej gracza ' + data.user; 
                console.log(data.isValid, data.hex.coordinates.x, data.hex.coordinates.y);
            }
            else{
                console.log('The move was invalid');
            }
        });
        socket.on('firstPlayer', function(data){
            info.innerHTML = 'Musisz poczekać na drugiego gracza';
        });
        socket.on('secondPlayer', function(data){
            info.innerHTML = 'Teraz kolej gracza ' + data.user; 
        });


        function resetGame() {
            socket.emit('reset', {username : username, id : id});
        }
        function goToRooms(){
            window.location.href = "/rooms"
        }

        var hexagonGrid = new HexagonGrid("HexCanvas",username, id, socket, 38);
        hexagonGrid.drawHexGrid(false);
    </script>
    
</body>
</html>

