<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/appjs.js"></script>
    <script>
    /*
    window.addEventListener('load', function() {
            
        var socket = io();
        socket.on('message', function(data) {
            
        });

        
    });
    */
    </script>
</head>
<body>

    <! -- username powinien przyjsc z serwera i jakby co trzeba go przeslac --!>
    <script src="hex.js"></script>

    <canvas id="HexCanvas" width="800" height="640"></canvas>
  
    <script>
        var username = "<%= username %>"
        var hexagonGrid = new HexagonGrid("HexCanvas",username, 38);
        hexagonGrid.drawHexGrid(true);
    </script>
    
</body>
</html>

