<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="hex.js"></script>
</head>
<style>
    myDiv{
        display : none;
    }
</style>
<body>


    <canvas id="HexCanvas" width="800" height="640"></canvas>
    <myDiv id = "text1" > The game is over</myDiv>
    <myDiv id = "text2" > asfa</myDiv>

    <button id = "reset" onclick="resetGame()">Reset</button>
    <button id = "quit" onclick="goToRooms()">Quit</button>

  
    <script>
        var username = "<%= username %>";
        var id = "<%= id %>";
        var socket = io();
        socket.emit('MyConnection', {id : id, username : username});
        socket.on('endGame',function(data){
            //TO DO jakie przyciski na dole strony i moze komunikat :)
            //console.log('Koniec gry');
            document.getElementById('text1').style.display = "block";
            document.getElementById('text2').style.display = "block";
            if(data.winner == username){
                document.getElementById('text2').innerHTML = "You win";
            } else{
               document.getElementById('text2').innerHTML = "You lose"; 
            }
        });
        socket.on('draw', function(data) {
            document.getElementById('text1').style.display = "block";
            document.getElementById('text2').style.display = "block";
            document.getElementById('text2').innerHTML = "The result is draw";
        });
        socket.on('user disconnected', function(){
            document.getElementById('HexCanvas').style.display = "none";
            document.getElementById('reset').style.display = "none";
            document.getElementById('text1').style.display = "block";
            document.getElementById('text2').style.display = "block";
            document.getElementById('text2').innerHTML = "Your opponent has left the game"; 
        });
        socket.on('reset',function(){
            hexagonGrid.drawHexGrid(true);
        });
        
        var hexagonGrid = new HexagonGrid("HexCanvas",username, id, socket, 38);
        hexagonGrid.drawHexGrid(true);

        socket.on('response', function( data ){
            if(data.isValid){
                hexagonGrid.drawHex(data.hex, data.color, "", false);
                console.log(data.isValid, data.hex.coordinates.x, data.hex.coordinates.y);
            }
            else{
                console.log('The move was invalid');
            }
        });

        function resetGame() {
            socket.emit('reset', {username : username, id : id});
            hexagonGrid.drawHexGrid(true);
        }
        function goToRooms(){
            window.location.href = "/rooms"
        }
    </script>

    </script>
    
</body>
</html>

