<html>
    <body>
        <form method="POST" action = "/rooms" >
        <div>
            Login: <input type='text' name='username' />
        </div>
        <div>
        Password: <input type='password' name='pwd' /> 
        </div>
        <div>
        <button>Login</button>
        </div>
    </form>
</body>
</html>	