<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <style>
    html, body, form {
        height: 100%;
        overflow: hidden;
    }

    #form1 {
        display         : flex;
        justify-content : center;
        align-items     : center;        
    }

    #login {
        padding          : 20px;
        border           : 2px solid black;
        text-align: center;
        background-color: lightyellow;
        font-weight: bold;
    }

    #login div {
        overflow : auto;
    }

    #login input {
        float : right;
    }

    button{
            margin : 1px 1px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: darkslategray;
            border: 2px solid black;
            border-radius: 10px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            clear : both;
            width: 95%;
            border-radius: 8px;
    }
    button:hover{
        background-color: darkslategray;
        color: white;
    }
   
    input{
        border: 1px solid black;
        margin: 2px 2px;
    }
    .message {
        color : red;
    }
    #header{
                width : 100%;
                position: fixed; 
                top : 0px;
                margin-bottom: 4px;
                background-color: seagreen;
                border : solid 1px black;
                height : 60px;
                line-height: 30px;
                text-align: center;
                display: inline-block;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                color : whitesmoke;
                font-size: 20px;
                font-weight: bold;
                justify-content: center;               
            }
    </style>
    
</head>
<body>
    <div id = 'header'>
            Mysterious Woodland Yavalath<br>by Jakub Schreiber and Stanisław Wilczyński
    </div>
    <div style = 'margin-top: 70px'>
        <form id = 'form1' method="POST" action = "/rooms">
        <div id='login'>
            <div>
                Logowanie
            </div>
            <div>
                <input type='text' name='username' />
                <label>Nazwa użytkownika:</label>
            </div>
            <div>
                <input type='password' name='pwd' />
                <label>Hasło:</label>
            </div>
            <div>
                <button>Zaloguj</button>
            </div>
        </form>
        <div>
            <form action="/register" method="POST">
                <button>Zarejestruj się</button>
            </form>
        </div>
        <div>
            <% if ( locals.message ) { %>
            <div class='message'>
                <%= locals.message %>
            </div>
            <% } %>
        </div>
    </div>
    </div>
    
</body>
</html>