<!DOCTYPE html>
    <body>
        <form method="GET" action = "/game1" >
        <div>
            Dane o grze
        </div>
        <div>
        <button>Dołącz do gry</button>
        </div>
    </form>
</body>
</html>	