<html>
    <body>
        <form method="POST" action = "/game" >
        <div>
            Dane o grze
        </div>
        <div>
        <button>Dołącz do gry</button>
        </div>
    </form>
</body>
</html>	